<!--link(rel="stylesheet" type="text/css" href="index.css")-->
link(rel="stylesheet" type="text/css" href="cdn/css/index.css")
<!--<script src="cdn/js/angular v1.6.10/angular.min.js"></script>-->
script(src="cdn/js/view.js")
center
    h2=titulo
        a(href=url)  Github
.table-responsive.table-striped
    h3 #{titulo_2} (XML) 
    div.xml
        code=xml_p
    div.row
        .col-xs-6
            h4 #{titulo_2} (HTML)
        .col-xs-6
            div
                span Busqueda : 
                input(type='text', ng-model='search_model', placeholder='')
            div
                h4 Numero de registros encontrados: {{result}}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Estados</a></li>
            <li class="breadcrumb-item"><a href="#">Municipios</a></li>
            <li class="breadcrumb-item active" aria-current="page">Colonia</li>
        </ol>
    </nav>
    table.table.table-bordered
        //-console.log(estados_p);
        each fila in estados_p
            tr
            each campo in fila
                td
                    a=campo
