<!--link(rel="stylesheet" type="text/css" href="index.css")-->
link(rel="stylesheet" type="text/css" href="cdn/css/index.css")
<!--<script src="cdn/js/angular v1.6.10/angular.min.js"></script>-->
script(src="cdn/js/view.js")
center
    span.titulos=titulo
        //-a(href=url)
//-span.subtitulos #{titulo_2} (XML) 
//-div.xml
//-    code=xml_p
br
div.panel.panel-primary
    div.panel-heading
        div.row
            .col-xs-6
                span.subtitulos #{titulo_2} (HTML)
            .col-xs-6
                div
                    span Busqueda : 
                    input(type='text', ng-model='search_model', placeholder='')
                div
                    span.resaltar Numero de registros encontrados: {{result}}
    div.panel-body.cero_padding
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='#') Estados
                li.breadcrumb-item
                    a(href='#') Municipios
                li.breadcrumb-item.active(aria-current='page') Colonia
        .table-responsive    
            table.table.table-bordered
                //-console.log(estados_p);
                each fila in estados_p
                    tr
                    each campo in fila
                        td
                            a=campo
