link(rel="stylesheet" type="text/css" href="index.css")
<!--<script src="cdn/js/angular-1.3.3/angular.min.js"></script>-->
<script src="cdn/js/view.js"></script>
center
    h2=titulo
        a(href=url)  Github
.table-responsive.table-striped
    h3 #{titulo_2} (Crudo) 
    div.xml
        code=xml_p
    h4 #{titulo_2} (Organizados)
    table.table.table-bordered
        //-console.log(estados_p);
        each fila in estados_p
            tr
            each campo in fila
                td=campo